# CodeIgniter 4 Git Ignore
/vendor/
/writable/*
!/writable/index.html
!/writable/.gitkeep
.env
*.env
*.sql
*.zip
.phpunit.result.cache
/public/uploads/*
!/public/uploads/index.html
/public/data/*
!/public/data/index.html
/public/adm_assets/_images/*

# Docker & Nginx config
[Dd]ockerfile
docker-compose.yml
docker-compose.*
docker-entrypoint.sh
/docker/nginx/*
