# CodeIgniter 4 Git Ignore
/vendor/
/writable/*
!/writable/index.html
!/writable/.gitkeep
.env
*.env
*.sql
*.zip
.phpunit.result.cache

# Ignore toàn bộ thư mục public
/public/*

# Docker & Nginx config
[Dd]ockerfile
docker-compose.yml
docker-compose.*
docker-entrypoint.sh
/docker/nginx/*